<!DOCTYPE html>
<html>
  <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  </head>
  <body>
    <h1>Welcome to Online Acutioning System,<%=@user.fname%></h1>
    <p>
      you have successfully signed up to online Auctioning System,
      your username is <%= @user.fname%><br/>
    </p>
    <p>
      To log into the site,follow this link <%@url%>
    </p>
    <p>
      Thanks for joining and have a great day
    </p>
  </body>
</html>
