<p>
  A new bid was placed on your product <%= @product.title%> of :
  <blockquote>
    <em><%=@product.highest_bid%></em>
  </blockquote>
</p>
<p>
  To view this page,click <%= link_to "Here",@product%>
</p>
