        <div class="container page-content">
            <div class="row">
                <div class="span12">
                    <div class="box-container">
                        <div class="padding30">
                            <h2 class="page-title">About Us</h2>
                            <div style="height:400px">
                                <p>
                                  On-line auctions were taking place even before the release of the first web browser for personal computers. The first Web-based commercial activity regarding on-line auctions that made significant sales began in May 1995 with the company on sale (David. L. F, 2003). In September that same year eBay also began trading.' Both of these companies used ascending bid. The Web offered new advantages such as the use of automated bids via electronic forms, a search engine to be able to quickly find items and the ability to allow users to view items by categories.
On-line auctions have greatly increased the variety of goods and services that can be bought and sold using auction mechanisms along with expanding the possibilities for the ways auctions can be conducted and in general created new uses for auctions. In the current web environment there are hundreds of websites dedicated to on-line auction practices. Some of the types include;
English auctions, where there is an auctioneer who announces the commodities for auctioning and the bidders bring out their bids until the winner is got.
Dutch auctions, here the price begins when they are high and they are lowered down until the bidder accepts to pay for the product.
                                </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
