
        <div class="container page-content">
            <h2 class="page-title">Reports</h2>
            <div class="row-fluid padding30 box-container">
                <div class="span6">
                    <p>You can generate a report about all the active products and their current highest bid amount, this can help you to know
                     to know which products have higher minimum bids than others.
                     To view a report on the above criteria please click <%=link_to "Here",products_path(format: :xlsx)%>
                   </p>
                </div>
                <div class="span6">
                    <p>
                      This report views the product title in the first column of the table and the minimum bid in the second column.
                      we go further and show the dates when bidding on that product will end.
                      There are two charts generated one is a bar graph and another is a pie chart.
                    </p>
                </div>
            </div>

            <div class="row-fluid padding30 box-container">
                <div class="span6">
                    <p>You can generate a report about all the categories of products, this can help you to know
                     to know which categories have the highest number products.
                     To view a report on the above criteria please click <%=link_to "Here",category_index_path(format: :xlsx)%>
                   </p>
                </div>
                <div class="span6">
                    <p>
                      This report views the category of products in the first column of the table and the number of products in the second column.
                      We go further to genrate the following charts.
                      The two charts generated one is a bar graph and another is a pie chart.
                    </p>
                </div>
            </div>

            <div class="row-fluid padding30 box-container">
                <div class="span6">
                    <p>You can generate a report about all the categories of products, this can help you to know
                     to know which categories have the highest number products.
                     To view a report on the above criteria please click <%=link_to "Here",category_index_path(format: :xlsx)%>
                   </p>
                </div>
                <div class="span6">
                    <p>
                      This report views the category of products in the first column of the table and the number of products in the second column.
                      We go further to genrate the following charts.
                      The two charts generated one is a bar graph and another is a pie chart.
                    </p>
                </div>
            </div>


        </div>
        <!-- .container -->
