<div class="container page-content">
    <div class="row">
        <div class="span12">
            <div class="box-container">
                <div class="padding30">


                    <div style="height:400px">

                      <h1>
                        <p>
                          Kewaza's
                        </p>
                          <p>
                            profile cooming soon
                          </p>
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
