
<div class="container">
  <h3>Terms and conditions</h3>
  1.The buyer will be required to pay for  product he/she has successfully bid for within a period of 24hrs.<p>
    Failure to do so will lead to automatic cancellation of your bid and the product will be automatially
    be put back for auction

  </p>
  <p>
    2. After the bidding process is completed suceesfully the seller will have to bring the product to our premises
    within 7 days Failure to produce the product in the said timeframe will lead to a full refund of the buyers money
    on the user's account.
  </p>
  <p>
    3.The seller is informed that we take 10% of the total amount paid to him on each product on each succesful transaction.
    This is not inclusive of VAT(18%).

  </p>
  <p>
    If the buyer does not pick the product within a month after paying. we are not liable to pay for damage that occurs to it
  </p>
  <p>
    Any illegal distribution,imitation or replication of this source code will be met with strict legal action
  </p>
  <p>
    &copy 2016 Bastan
  </p>
</div>
