<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="box-container">
        <div style="margin-left: auto; margin-right: auto; width: 16em">
          <h1 class="page-title",style="text-align: center;">We are sorry </h1>
          <p>
            The payment you tried to process didn't occur..<br/>
            please we request you to try again later. If the problem persists<br/>
            This can be because of many reasons please feel free to <%= link_to "contact us", home_contact_path%>
          </p>
            <%= link_to 'Back', products_path %>
        </div>
      </div>
    </div>
  </div>
</div>
